// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  padding-top: 15px;
  padding-bottom: 24px;

  background-color: $palette-secondary;
  color: #c4c4c4;
}

.footer {
  &__text {
    @include breakpoint($breakpoint-mobile--medium) {
      font-size: 14px;
    }
  }

  &__link {
    margin: 0 15px;
  }
  &__icon {
  }
}
