// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  padding: 20px 0;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.08);
  background-color: $palette-main;

  @include breakpoint($breakpoint-tablet) {
    padding: 5px 0;
  }
}

.header {
  position: relative;

  &__email {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__text {
    font-weight: $weight-Bold;
    font-size: $font-size__large;

    color: $text-green;

    text-transform: uppercase;

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 14px;
    }
  }
}
