// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: relative;
  padding: 20px 0;
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.08);
  background-color: $palette-main;
}

.header {
  position: relative;

  &__text {
    font-weight: $weight-Bold;
    font-size: $font-size__large;

    color: $text-green;

    text-transform: uppercase;
  }

  &::after {
    content: "";
    position: absolute;
    top: 52px;
    right: 60px;

    display: block;
    background-color: #3b3b3b;

    width: 50px;
    height: 30px;
  }
}
