// Цветовая палитра блоков
$palette-main: #ffffff;
$palette-secondary: #3b3b3b;

// Цветовая палитра текста
$text-black: #3b3b3b;
$text-white: #ffffff;
$text-red: #fe5b92;
$text-blue: #2196f3;
$text-green: #96c85b;

$marker-green: #96c85b;
$marker-red: #fe5b92;