// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  @include background("../img/pages/main/hero/background.jpg");


  @include breakpoint($breakpoint-mobile--large) {
    background-image: none;
  }

  .container {
    position: relative;
    border-right: 1px solid #3b3b3b;

    @include breakpoint($breakpoint-mobile--large) {
      border-right: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 260px;
      left: 60px;

      display: block;
      background-color: #fe5b92;

      width: 30px;
      height: 30px;

      @include breakpoint($breakpoint-mobile--large) {
        top: 75px;
        bottom: initial;
        left: 230px;
      }
    }
  }
}

.hero {
  position: relative;
  padding-top: 80px;
  padding-bottom: 70px;

  &__separator {
    display: block;
  }

  &__avatar {
    position: relative;
    top: -20px;
    left: -15px;

    width: 65px;

    @include breakpoint($breakpoint-mobile--large) {
      left: -20px;

      video {
        width: 205px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -75px;
      left: 122px;

      display: block;
      width: 1px;
      height: 97px;

      background: $palette-secondary;

      @include breakpoint($breakpoint-mobile--large) {
        top: 15px;
        right: 0;
        left: initial;

        width: 400%;
        height: 1px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 20px;

      display: block;
      width: 400%;
      height: 1px;

      background: $palette-secondary;

      @include breakpoint($breakpoint-mobile--large) {
        right: 15px;
        bottom: 14px;

        width: 55px;
        height: 1px;
      }
    }
  }

  &__logo {
    position: relative;
    z-index: 10;
    margin-bottom: 75px;

    @include breakpoint($breakpoint-mobile--large) {
      margin-top: -20px;
      margin-bottom: 30px;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 5;
      top: 20px;
      left: 264px;

      display: block;
      width: 1px;
      height: 380px;

      background: $palette-secondary;

      @include breakpoint($breakpoint-mobile--large) {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 5;
      top: 8px;
      left: 235px;

      display: block;
      width: 140px;
      height: 1px;

      background: $palette-secondary;

      @include breakpoint($breakpoint-mobile--large) {
        top: 4px;
        left: 125px;
      }
    }
  }

  &__container-border {
    position: absolute;
    top: 35%;
    right: -50px;

    display: flex;

    transform: rotate(90deg);

    span:nth-child(1) {
      color: $text-blue;
    }

    span:nth-child(2) {
      margin-left: 10px;
      transform: rotate(90deg);
    }

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }

  &__decoration {
    div::after {
      font-size: 13px;
    }

    .right {
      position: absolute;
      top: 60%;
      right: -13px;

      @include breakpoint($breakpoint-mobile--large) {
        top: 150px;
        right: -40px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;

          display: block;
          width: 55px;
          height: 1px;

          background: $palette-secondary;
        }
      }
    }

    .left {
      position: absolute;
      bottom: 70px;
      left: 105px;

      @include breakpoint($breakpoint-mobile--large) {
        bottom: 40px;
        left: -20px;
      }

      &::after {
        content: "#2196F3";
        position: absolute;
        bottom: -18px;
        left: 0;

        color: $text-blue;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;

        display: block;
        width: 1px;
        height: 290px;

        background: $palette-secondary;

        @include breakpoint($breakpoint-mobile--large) {
          display: none;
        }
      }
    }

    .down-green {
      position: absolute;
      right: 105px;
      bottom: 70px;
      display: block;

      width: 80px;
      height: 65px;

      background-color: #96c85b;

      @include breakpoint($breakpoint-mobile--large) {
        display: none;
      }

      &::after {
        content: "#96c85b";
        position: absolute;
        top: -18px;
        right: 0;

        color: $text-green;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -30px;

        display: block;

        width: 20px;
        height: 20px;

        background-color: #96c85b;
      }
    }

    .down-red {
      position: absolute;
      right: 185px;
      bottom: 90px;
      display: block;

      width: 80px;
      height: 45px;

      background-color: #fe5b92;

      @include breakpoint($breakpoint-mobile--large) {
        display: none;
      }

      &::after {
        content: "#fe5b92";
        position: absolute;
        top: -18px;
        left: 0;

        color: $text-red;
      }
    }

    .middle {
      position: absolute;
      top: 40%;
      right: 180px;

      @include breakpoint($breakpoint-mobile--large) {
        display: none;
      }
    }

    .arrow {
      position: absolute;
      top: 0;
      left: 502px;

      @include breakpoint($breakpoint-mobile--large) {
        display: none;
      }
    }

    .top {
      position: absolute;
      top: 75px;
      right: 190px;

      @include breakpoint($breakpoint-mobile--large) {
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;

        display: block;
        width: 170px;
        height: 1px;

        background: $palette-secondary;
      }
    }
  }
}
