.button {
  min-width: 250px;

  outline: none;
  border: none;

  padding: 18px 40px;

  font-size: $font-size__large;

  cursor: pointer;
  transition: all 0.15s ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}