// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Кнопка"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$button__bg: #eb174a;
$button--hover: #ff3a69;
$button--active: #cc1340;

@import "button";
