// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Кнопка"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$button__bg: #eb174a;
$button--hover: #fa2d5d;
$button--active: #df2352;

@import "button";
@import "button-primary";